body {
  font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    background-color: #c9d7e6;
    color: #000000;
}
#title-stacked{
	transform: translateX(50px);
}
#p1 {
	transform: translateX(50px);
}
#p2 {
	transform: translateX(50px);
}
