body {
    font-family: 'Helvetica';
    font-size: 16;
    background-color: #c9d7e6;
    color: #000000;
}

.tooltip{
	border: 0;
	border-radius: 8px;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding: 2px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	width: 120px;
}