body {
    font-family: 'Helvetica';
    font-size: 16;
    background-color: #c9d7e6;
    color: #000000;
}
#title-stacked{
	transform: translateX(50px);
}
#p1 {
	transform: translateX(50px);
}
#p2 {
	transform: translateX(50px);
}