<div class="outer">
  <div class="middle">
    <div class="inner">
      <h1>Le hockey moderne à travers les années</h1>
      <p>Avec la poutine et le sirop d'érable, le hockey fait fort certainement parti des éléments les plus
      proéminents de la culture québecoise. Chaque années, près de 800 millions de téléspectateurs écoutent
      ce sport et encouragent notre équipe nationale. Toutefois, saviez-vous que ce sport a beaucoup changé durant
      les 15 dernères années? Faites défiler cette page pour savoir comment...</p>
    </div>
  </div>
</div>
