<body>
  <div id="univariateScatter">
	<h1>    Distribution des buts selon les périodes</h1>
      <p>
           Les points sur le graphique représentent les buts marqués à un temps précis selon une période.
      </p>
      <p>
          Plus le point est éloigné de la ligne centrale, plus la fréquence de buts est élevée.
      </p>
	  <p>
		On peut voir que beaucoup de buts sont marqués à la fin de la troisième période. On pouvait s'y attendre, car les équipes
		accusant un retard peuvent enlever leur gardien au profit d'un joueur de plus laissant le but abandonné.
	</p>
  </div>
</body>
